.root {
  display: 'flex';
  flex-direction: 'column';
  font-size: 24px;
}

input {
  text-align: center;
}

button {
  border: none;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 8px;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  border: none;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
